@{
    ViewData["Title"] = "Documento Enviado ao E-Docs.";
    @model string

}

<div class="text-center">
    <h4>@Model</h4>

    <p>
        Por favor verifique no site <a href="https://treinamento.e-docs.es.gov.br"> https://treinamento.e-docs.es.gov.br</a>.
    </p>

    <p>
        Se o documento foi recebido adequadamente na sua pasta de documentos.
    </p>
</div>
