@{
    ViewData["Title"] = "Ocorreu um Erro.";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>
                CIEO - Controlador da Integração E-Docs/OnBase.
            </h3>
            <h3>
                Ocorreu um erro.
            </h3>
            <p>
                @ViewBag.ErroMessage
            </p>
        </div>
    </div>
</div>