.bannerUmDetran {
    background-color: #c5c5c5;
}

.bannerDoisDetran {
    background-color: #0582b8;
    background-image: url("//cdn.es.gov.br/images/backgrounds/abstract/diamond-effect.png");
}

.bannerTresDetran {
    background-color: #003f70;
}
